@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fdfcf8; /* Theme: Bg */
    color: #2f3e46;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Zen Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ebe7de;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8d2c2;
}
